
#top_header{
    background: #a3a3a3;
}
.nav{
    background: #a3a3a3;
}


/* =================About section============= */
#about {
    padding: 120px 0;
}
#about .about_card{
    margin-bottom: 120px;
}
.about_wrapper {
    padding-bottom: 0;
}

/* ============================= */
#reason_of_success{
    padding: 120px 0;
}
#reason_of_success .images .img_1{
    width: 366px;
    background: #a3a3a3;
    height: 291px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#reason_of_success .images .img_2{
    width: 271px;
    background: #a3a3a3;
    height: 273px;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#reason_of_success .images .img_3{
    top: 94px;
    right: 60px;
    width: 366px;
    background: #a3a3a3;
    height: 490px;
    border: 10px solid #fff;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#reason_of_success .images .img_1 img,
#reason_of_success .images .img_2 img{
    width: 1005px;
    height: 100%;
    object-fit: cover;
}
#reason_of_success .tab-content .description>p{
    color: #6B6161;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 27px;
}
#reason_of_success .tab_content_bottom{
    column-gap: 30px;
    padding-top: 33px;
}

#reason_of_success .tab_image{
    width: 119px;
    height: 119px;
    overflow: hidden;
}
#reason_of_success .tab_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-tabs {
    --bs-nav-tabs-border-width: 0;
}
.tab_product .nav-link{
    
    font-family: var(--DmSans);
    color: #6B6161;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 9px 16px;
    background:  #F4F4FF;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.tab_product .nav-link:hover,
.tab_product .nav-link.active{
    color:#FFF;
    background:  linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);

}

/* ==============conter section============== */
#about_counter{
    padding: 120px 0;
}
#about_counter .counter_wrapper .counter_item_wrapper{
    background: var(--off-white-clr);
    padding: 40px 0 23px 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#about_counter .counter_wrapper .counter_item_wrapper .counter_item_content h3{
    color: var(--black-clr);
}
#about_counter .counter_wrapper .counter_item_wrapper .counter_item_content p{
    color: var(--pera-text-clr);
}