#blog{
    padding: 120px 0;
}
.blog_main_wrapper{
    /* column-gap: 90px; */
}
#blog .blog_image{
    margin-bottom: 20px;
    width: 886px;
    height: 450px;
    background: #cccccc;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#blog .blog_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#blog .blog_wrapper{
    row-gap: 72px;
}
#blog .blog_info{
    column-gap: 40px;
}
#blog .blog_info i{
    color: #3661FC;
    font-weight: 500;
    font-size: 20px;
}
#blog .blog_item>a{
    color:  #1A1A1A;
    font-family: var(--Nunito);
    padding: 10px 0 20px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
#blog .blog_item a:hover{
    color:  #3661FC;
}
#blog .blog_item p{
    width: 880px;
    color: #1A1A1A;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-bottom: 26px;
}
.author_info{
    column-gap: 60px;
}
.author_info a{
    position: relative;
    color: #6B6161;
    font-family: var(--DmSans);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
}
.author_info a::after{
    position: absolute;
    content: "";
    width: 33px;
    height: 33px;
    background: var(--gradient);
    opacity: .4;
    right: -16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.author_info a i{
    padding-left: 13px;
    font-size: 34px;
}
#blog .author{
    column-gap: 13px;
}
#blog .author .author_image{
    width: 33px;
    height: 33px;
    overflow: hidden;
    background: #cccccc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#blog .sidebar_item,
#shop .sidebar_item{
    padding: 33px 40px 40px;
    border: 1px solid #FE651B;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#blog .sidebar_item h5::after,
#shop .sidebar_item h5::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 72px;
    background: var(--gradient);
    bottom: -1px;
    left: 0;
}
#blog .sidebar_item input,
#shop .sidebar_item form input{
    box-shadow: none;
    border: none;
    background: var(--gradient);
    height: 60px;
    color: #E9E9E9;
    font-family: var(--DmSans);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
#blog .sidebar_wrapper{
    row-gap: 50px;
}
#blog .sidebar_item input::placeholder{
    color: #E9E9E9;
    font-family: var(--DmSans);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
#blog .sidebar_item form button{
    padding-right: 20px;
    font-size: 26px;
    color: #ffffff;
}
#blog .category a{
    display: block;
    color:  #6B6161;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}
.recent_news_item{
    gap: 20px;
}
.recent_news_item .news_image{
    width: 92px;
    height: 92px;
    background: #cccccc;
    overflow: hidden;
}

.recent_news_item a{
    width: 272px;
    color: #252424;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
};
.recent_news_item span{
    color: #6B6161;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.recent_news_item span i{
    color: #3661FC;
    font-weight: 500;
}
.tag_name{
    color:#6B6161;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 7px 20px;
    background: #F4F4FF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.help_part{
    background: rgba(0, 0, 0, 0.60);
}
#blog .sidebar_item.help_part h5::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 72px;
    background: #ffffff;
    bottom: -1px;
    left: 0;
}

.help_part_head{
    padding: 200px 0 20px;
}
.help_part .button {
    margin-top: 30px;
}