@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

/* ===== import another css file ===== */
@import url(./portfolio.css);
@import url(./pricing_details.css);
@import url(./pricing.css);
@import url(./about.css);
@import url(./service.css);
@import url(./faq.css);
@import url(./contact.css);
@import url(./blog.css);
@import url(./blog_details.css);
@import url(./shop.css);

/* ===== import another css file ===== */



:root {
    /* === font-family ===; */
    --DmSans: font-family: 'DM Sans', sans-serif;
    --Nunito: font-family: 'Nunito', sans-serif;
    /* === font-family ===; */
    /* === colors === */
    --gradient: linear-gradient(to right,#FE651B, #FFAA52);
    --black-clr:#1A1A1A;
    --pera-text-clr: #6b6161;
    --white-clr: #ffffff;
    --off-white-clr:#F4F4FF;
    --temporary-bg-clr:#ccc;
    /* === colors === */
    --transition: all 0.3s linear;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
menu,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: .8;
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* ====================Common Css=================== */
.common_p{
    color:  #6B6161;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.common_h5{
    color: #1A1A1A;
    font-family: var(--Nunito);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* =============Common Section header =========== */
.section_header h6 {
    color: #3661FC;
    font-family: var(--DmSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section_header h3 {
    color: #1A1A1A;
    font-family: var(--Nunito);
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    padding: 16px 0 27px;
}

#about .about_content>p,
.why_choose_content>p {
    color: #6B6161;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 27px;
}

/* ===========Common banner section============ */
#common_banner {
    background: #a3a3a3;
    overflow: hidden;
}

#common_banner .banner_wrapper {
    padding: 166px 0 154px;
}

#common_banner .banner_wrapper h2 {
    color: #FFF;
    text-align: center;
    font-family: var(--Nunito);
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
}

#common_banner .banner_wrapper a {
    color: #FFF;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
}

#common_banner .banner_wrapper p {
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
}

.circle1 {
    width: 182px;
    height: 175px;
    bottom: -90px;
    left: -80px;
    background: linear-gradient(90deg, #0F7AEF 0.03%, #6CE3FF 100.09%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle2 {
    width: 182px;
    height: 175px;
    top: -90px;
    right: -80px;
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* ====================top header===================  */
#top_header {
    height: 40px;
    background: #333333;
}

#top_header .header_bg {
    width: 110vw;
    height: 40px;
    /* z-index: 9; */
}

#top_header .header_wrapper {
    z-index: 99999;
}

#top_header .header_left {
    gap: 60px;
}

#top_header .header_left p {
    font-family: var(--DmSans);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

#top_header .header_left a {
    font-family: var(--DmSans);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#top_header .header_left i {
    margin-right: 8px;
    font-size: 16px;
    color: #e86e32;
}

#top_header .header_left a::before {
    position: absolute;
    content: "";
    left: -30px;
    top: 0;
    background: #708FFF;
    width: 2px;
    height: 26px;
}

#top_header .header_right .social a {
    font-size: 16px;
    position: relative;
    color: #a4b7fc;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

#top_header .header_right .social a:hover {
    color: #e86e32;
}

#top_header .header_right .social a::after {
    position: absolute;
    content: "";
    right: -15px;
    top: -4px;
    background: #708FFF;
    width: 2px;
    height: 26px;
}

#top_header .header_right .social a:last-child::after {
    height: 0;
}

.header_right .social {
    column-gap: 31px;
}

/* ======================nav section=================== */
.nav {
    background: #333333;
    height: 100px;
    overflow-x: hidden;
}

.nav .header_bg {
    width: 110vw;
    height: 100px;
}

.navbar {
    padding: 0;
    height: 100px;
    overflow: visible;
}

.navbar .nav-link {
    color: #1A1A1A;
    font-family: var(--DmSans);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.navbar .nav-link:hover {
    color: #FE681E;
}

.navbar .nav-link i {
    font-size: 12px;
}

.dropdown-toggle::after {
    display: none;
}

.nav_right li a {
    height: 56px;
    width: 56px;
    border: 1px solid #708FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav_right li button {
    padding: 15px 29px;
    background: #708FFF;
    border: none;
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

/* ==================banner section=============== */
#banner {
    background: #333333;
}

#banner .banner_wrapper {
    padding: 216px 0;
}

/* #banner .banner_wrapper .banner_text{} */

#banner .banner_wrapper .banner_text h6 {
    font-family: var(--DmSans);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 40.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner .banner_wrapper .banner_text h1 {
    width: 700px;
    color: #FFF;
    font-family: var(--Nunito);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-transform: capitalize;
    padding: 20px 0;
}

#banner .banner_wrapper .banner_text p {
    color: #FFF;
    font-family: var(--DmSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    width: 600px;
}

.button {
    color: #FFF;
    font-family: var(--DmSans);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    padding: 15px 29px;
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    margin-top: 50px;
    border: none;
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

#banner .banner_wrapper .shapes .circle {
    position: absolute;
    width: 570px;
    height: 570px;
    background: #cccccc;
    right: 0;
    top: 121px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#banner .banner_wrapper .shapes .circle::before {
    position: absolute;
    content: "";
    width: 570px;
    height: 570px;
    bottom: 27px;
    left: 27px;
    border: 1px solid #FE651B;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ==================about section============== */
#about {
    padding: 150px 0 100px;
}

.about_wrapper {
    padding-bottom: 120px;
}


.about_content .check i,
.tab_content_bottom .check i,
#service_details .check i,
#blog .blog_details_item .sub_header .sub_header_content .check i{
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 17px;
    height: 17px;
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about_content .check p,
.tab_content_bottom .check p,
#service_details .check p,
#blog .blog_details_item .sub_header .sub_header_content .check p{
    color: #1A1A1A;
    font-family: var(--DmSans);
    padding-bottom: 6px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.about_content .button {
    margin-bottom: 34px;
}

.img_rectengle {
    overflow: hidden;
    width: 528px;
    height: 335px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #CCC;
    position: absolute;
    bottom: 0;
}

.img_circle {
    position: absolute;
    left: 411px;
    bottom: 155px;
    overflow: hidden;
    width: 184px;
    height: 264px;
    border-radius: 500px;
    border: 10px solid #FFF;
    background: #CCC;
    /* transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%); */
}

.img_clip {
    position: absolute;
    bottom: 90px;
    left: 0px;
    overflow: hidden;
}

/* =============about bottom part============== */
.about_item {
    width: 342px;
    height: 408px;
}

.about_item:hover .about_item_icon {
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    top: -20px;
}

.about_item .about_item_icon {
    width: 216px;
    top: 10px;
    left: 10px;
    height: 180px;
    background: #3661FC;
    transition: all linear .2s;
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.about_item .about_item_icon img {
    position: absolute;
    top: 30px;
    left: 45px;
}

.about_itam_img {
    top: 10px;
    left: 10px;
}

.about_item_desc {
    padding: 0 35px;
}

.about_item_desc h5 {
    color: #1A1A1A;
    font-family: var(--Nunito);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.about_item:hover .about_item_desc h5 {
    color: #3661FC;
}

.about_item_desc p {
    color: #6B6161;
    font-family: var(--DmSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 12px 0 31px;
}


/* ==================== Why choose section start here ===================  */
#why_choose {
    padding: 120px 0;
}

/* #why_choose {} */

/* .why_choose_wrapper {} */

.why_choose_wrapper .why_choode_img {
    width: 100%;
    height: 460px;
    overflow: hidden;
    background: #CCCCCC;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.exp_btn {
    color: #1A1A1A;
    font-family: var(--Nunito);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    bottom: 30px;
    left: 172px;
    width: 364px;
    padding: 15px 50px;
    background: #ffffff;
    border: none;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

.exp_btn span {
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--Nunito);
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.progress-bar {
    height: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* ==================== Why choose section end here ===================  */

/* ===== pricing section css start here ===== */
#pricing {
    padding: 120px 0;
}

#pricing .section_name p {
    color: #3661FC;
    font-family: var(--DmSans);
    font-size: 20px;
    font-weight: 500;
}

#pricing .section_heading h2 {
    padding-bottom: 46px;
    color: #1A1A1A;
    font-family: var(--Nunito);
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
}

.pricing_card_item {
    width: 464px;
    height: 606px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.pricing_card_corner_shape {
    width: 225px;
    height: 170px;
    border-radius: 0 60px 0 0;
    background-color: #3661FC;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: -111;
    transition: var(--transition);
}

.pricing_card_item_icon {
    width: 49px;
    height: 49px;
    position: absolute;
    top: 50px;
    right: 70px;
}

.pricing_content_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 222;
    width: 100%;
}

.pricing_heading {
    position: relative;
}

.pricing_item::before {
    position: absolute;
    content: "";
    width: 310px;
    height: 1px;
    background-color: #D7DFFE;
    left: 11px;
    bottom: -38px;
}

.pricing_heading h4 {
    padding: 40px 0 15px 52px;
    font-family: var(--Nunito);
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}

.pricing_heading .pricing_item h3 {
    color: #3661FC;
    font-family: var(--Nunito);
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
    padding-right: 13px;
}

.pricing_heading .pricing_item h3 span {
    font-size: 20px;
    padding: 0 7px 0 46px;
}

.pricing_heading .pricing_item p {
    color: #6B6161;
    font-family: var(--DmSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-transform: capitalize;
}

.pricing_content_wrapper .pricing_details {
    padding: 76px 0 36px 0;
}

.pricing_details ul li {
    color: #1A1A1A;
    font-family: var(--DmSans);
    font-size: 18px;
    font-weight: 500;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 13px;
}

.pricing_details ul li span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;

}

.pricing_details ul li span i {
    color: #fff;
    font-size: 12px;
}

.pricing_btn {
    text-align: center;
    transition: var(--transition);
}

.pricing_btn a {
    color: #1A1A1A;
    font-family: var(--DmSans);
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 15px 134px;
    border: 1px solid #3661FC;
    border-radius: 500px;
    transition: var(--transition);
    background-color: transparent;
}

.pricing_card_item:hover .pricing_btn a {
    background: var(--gradient);
    color: #fff;
    transition: var(--transition);
    border: transparent;
}

.pricing_card_item:hover .pricing_card_corner_shape {
    background: var(--gradient);
    transition: var(--transition);
}

.pricing_details ul .pricing_item_off {
    opacity: 0.4;
}

/* ===== pricing section css end here ===== */

/* ===== counter section css start here ===== */
#counter .counter_wrapper {
    width: 1064px;
    margin: 0 auto;
    padding: 51px 60px;
    background: var(--gradient);
    border-radius: 500px;
    border: 20px solid var(--white-clr);
    text-transform: capitalize;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.counter_item_wrapper {
    display: flex;
    column-gap: 28px;
}

.counter_item_logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--white-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter_item_content h3 {
    color: var(--white-clr);
    font-family: var(--Nunito);
    font-size: 45px;
    font-weight: 800;
    line-height: 36px;
    padding-bottom: 15px;
}

.counter_item_content p {
    color: var(--white-clr);
    font-family: var(--DmSans);
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

/* ===== counter section css end here ===== */
/* ===== appointment section css start here ===== */
#appointment {
    padding: 91px 0 120px 0;
}

.appointment_section_wrapper {
    padding: 186px 80px 80px 80px;
    border-radius: 50px;
}

.appointment_video_part {
    width: 592px;
    height: 566px;
    border-radius: 40px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointment_play_icon {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-clr);
}

.appointment_play_icon a {
    font-size: 20px;
}

.appointment_form_content {
    color: var(--white-clr);
    padding-bottom: 40px;
    text-transform: capitalize;
}

.appointment_form_content p {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 16px;
    font-family: var(--DmSans);
    font-size: 20px;
    font-weight: 500;
}

.appointment_form_content p .appointment_logo {
    width: 23px;
    height: 23px;
    overflow: hidden;
    object-fit: cover;
}

.appointment_form_content h4 {
    font-family: var(--Nunito);
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;

}

.appointment_form_wrapper .form_group {
    column-gap: 20px;
}

.appointment_form_wrapper input,
.appointment_form_wrapper textarea {
    border-radius: 500px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    height: 56px;
    padding: 26px;
}

.appointment_form_wrapper input::placeholder,
.appointment_form_wrapper textarea::placeholder {
    color: #9A9A9A;
    font-family: var(--DmSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.appointment_form_wrapper textarea {
    border-radius: 40px;
    resize: none;
    height: 171px;
    padding-top: 15px;
}

.appointment_btn {
    color: var(--white-clr);
    font-family: var(--DmSans);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    background: var(--gradient);
    padding: 15px 33px;
    border-radius: 500px;
    border: none;
    outline: none;
    margin-top: 20px;
}

/* ===== appointment section css end here ===== */
/* ===== team section css start here ===== */
#team{
    background: var(--off-white-clr);
    padding: 120px 0;
}
#team .team_member_wrapper{
    margin-top: 47px;
}
#team .team_member_wrapper .team_member{
    background: var(--white-clr);
    padding: 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
#team .team_member_wrapper .team_member .team_member_image{
    width: 300px;
    height: 320px;
    margin: 0 auto;
    background: var(--temporary-bg-clr);
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#team .team_member_wrapper .team_member .team_member_info{
    padding: 24px 0 4px;
}
#team .team_member_wrapper .team_member .team_member_info h5{
    font-family: var(--Nunito);
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    color: var(--black-clr);
}
#team .team_member_wrapper .team_member .team_member_info p{
    font-family: var(--DmSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--pera-text-clr);
}
#team .team_member_wrapper .team_member .team_member_social{
    padding: 30px 0 11px;
    display: flex;
    display: none;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
#team .team_member_wrapper .team_member .team_member_social a,
footer .footer_social .footer_social_wrapper a{
    height: 46px;
    width: 46px;
    background: var(--off-white-clr);
    color: #3661FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
#team .team_member_wrapper .team_member .team_member_social a:hover,
footer .footer_social .footer_social_wrapper a:hover{
    background: #3661FC;
    color: var(--white-clr);
}
#team .team_member_wrapper .team_member:hover .team_member_info{
    display: none;
}
#team .team_member_wrapper .team_member:hover .team_member_social{
    display: block;
}
/* ===== team section css end here ===== */
/* ===== hire section css start here ===== */
#hire{
    padding: 80px 0;
}
#hire .hire_body{
    background: #3661FC;
    padding: 80px;
    color: var(--white-clr);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* ===== hire section css end here ===== */
/* ===== blog section css start here ===== */
.home_blog .blog_item .blog_image{
    width: 100% !important;
    height: 380px !important;
}
/* ===== blog section css end here ===== */
/* ===== footer section css start here ===== */

footer .subscribe_section{
    padding: 60px 0 ;
    border-bottom: 1px solid #393939;
} 
footer .subscribe_section form{
    position: relative;
} 
footer .subscribe_section form input{
    height: 80px;
    width: 535px;
    outline: none;
    padding: 0 15px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
} 
footer .subscribe_section form button{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    height: 60px;
    width: 190px;
    background: #3661FC;
    color: var(--white-clr);
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

footer .main_footer{
    padding: 90px 0 100px;
} 
footer .main_footer h2{
    position: relative;
    font-family: var(--Nunito);
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}
footer .main_footer h2::after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    background: var(--gradient);
    height: 2px;
    width: 87px;
}
footer .main_footer p{
    font-family: var(--DmSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}
footer .main_footer li{
    margin-bottom: 20px;
}
footer .main_footer li a{
    font-family: var(--DmSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--white-clr);
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
footer .main_footer li a:hover{
    color: #3661FC;
}
footer .main_footer li::marker {
    background: #3661FC;
    color: #3661FC;
}
footer .main_footer .footer_post .footer_post_image{
    width: 70px;
    height: 70px;
    background: var(--off-white-clr);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
footer .main_footer .footer_post a{
    color: var(--white-clr);
    padding-bottom: 5px;
} 
footer .main_footer .footer_post a:hover{
    color: #3661FC;
} 
footer .main_footer .footer_post span i{
    color: #3661FC;
}
footer .main_footer .contact_details span i{
    color: #3661FC;
}
footer .main_footer .contact_details a,
footer .main_footer .contact_details p{
    color: var(--white-clr);
}
footer .copyright{
    background: #3661FC;
    padding: 22px 0;
}
footer .copyright p{
    font-family: var(--DmSans);
    font-weight: 400;
    color: var(--white-clr);
    font-size: 16px;
    line-height: 26px;
}
footer .copyright a{
    position: relative;
    font-family: var(--DmSans);
    font-weight: 400;
    color: var(--white-clr);
    font-size: 16px;
    line-height: 26px;
}
footer .copyright a::after{
    position: absolute;
    content: "";
    right: -20px;
    top: 0;
    background: var(--white-clr);
    height: -10px;
    width: 1px;
}
/* ===== footer section css end here ===== */
